*{ margin:0;
	padding: 0;
  }

h2 {
	color: white;
	background: #b04190;
	padding: 10px;
	display:flex ;
	align-items: center;
	font-weight: 100;
}
.ani{
	font-size: 30px ;
	color: green;
	background: yellow;
	padding: 10px;
	margin: 0;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
img{
	border-radius: 100px;
	margin: 10px;
}
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
	align-items: center;
} 

.siya{
	font-size: 20px;
	background-color: blue;
	color: white;
	width: 20%;
	padding: 10px;
	margin: 20px;
	text-align: center;
	text-transform: capitalize;
	border-radius: 10px;

} 
a{
	text-decoration: none;
}